@font-face {
    font-family: 'Circular-Book';
    src: local('Circular-Book'),
      url('../Fonts/Circular-Std-Book.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Circular-Bold';
    src: local('Circular-Bold'),
      url('../Fonts/Circular-Std-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Circular-Medium';
    src: local('Circular-Medium'),
      url('../Fonts/Circular-Std-Medium.ttf') format('truetype');
  }

  .containerFooter {
    /* border: 1px solid red; */
    max-width: 1100px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    flex-wrap: inherit;
  }

.footer{
    border: 1px solid #D2D2D7;
    background-color: #F5F5F7;
    height: auto;    
}

.principal{
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
}

.descriptionFooter{
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    text-align: left;
}

.pagoFooter{
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    text-align: right;
}

.desc1{
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 24px;
}

.desc2{
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 0px;
    padding-bottom: 24px;
    
}

.titleFooter{
    color: #111111;
    font-family: 'Circular-Bold';
    font-size: 14px; 
    margin-bottom: -2px;
}

.descripFooter{
    color: #6B7280;
    font-family: 'Circular-Book';
    font-size: 14px; 
    line-height: 1.4;
}



.priceFooter{
    color: #111111;
    font-family: 'Circular-Bold';
    font-size: 28px; 
    margin: 0;
    padding: 0;
    /* margin-bottom: -2px; */
}

.descripFooter2{
    color: #6B7280;
    font-family: 'Circular-Book';
    font-size: 14px; 
    margin-top: 1px;
}

.pagoDesc{
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 24px;
    /* margin-right: 70px; */
}

.ButtonPago{
    padding-top: 47px;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 24px;
    margin-right: -18px;
}

.ButtonBuyNow{
    padding: 19px 29px;
    -webkit-border-radius: 8px 8px 8px 8px;
    background-color: #1E96D4;
    border: 1px solid #1E96D4;
    cursor: pointer;
    text-align: center;
    color: white;
}

.ButtonBuyNow:hover {
    background-color: #66BFEC;
    border: 1px solid #66BFEC;
    color: white;  }

  
.ButtonBuyNow:active{
    background-color: #1E96D4;
    border: 3px solid #D9DDE1;
    transform: translateY(4px);
    color: white;
  } 

.ButtonBuyNow:focus {
    outline:0;
    background-color: #1E96D4;
    border: 3px solid #D9DDE1;
    /* box-shadow: 0 0 0 3px rgb(238,239,242); */
    /* box-shadow: 0 2px #f6f5f5; */
    /* rgba(21, 156, 228, 0.4) */
  }