@media screen and (max-width: 1024px){
    .container {
        max-width: 1000px;
    }

    .title2{
        font-size: 34px;
    }

    .title7{
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 666px;
    }


    .Img1{
        width: 180px;
    }
    .ImgSmall{
        width: 50px;

    }
    .product_container {
        grid-gap: 0px 18px;
        padding-bottom: 0;
    }

    .containerImages{
        grid-template: 182px 56px 45px 50px / repeat(3,1fr);
        grid-template-areas:
            "Image1 Image1 Image1"
            "Image2 Image3 Image4"
            "Image5 Image6 Image7"
            "LabelImg5 LabelImg6 LabelImg7";
            grid-gap: 14px 9px;
        height: 400px;
        position: -webkit-sticky;
        position: sticky;
        top: 50px;
    }

    .Img5{
        width: 13px;
    }

    .Img6{
        width: 13px;
    }
    .Img7{
        width: 13px;
    }
    .Label{
        font-size: 7px;
    }

    .title1{
        font-size: 10px;
    }

    .title2{
        font-size: 22px;
    }

    .title3{
        font-size: 18px;
    }

    .title4{
        font-size: 10px;
    }

    .price1 {
        font-size: 24px;

    }

    .link1{
        font-size: 14px;
    }

    .link2{
        font-size: 14px;
    }

    .link3{
        font-size: 14px;
    }

    .description1{
        font-size: 11px;
    }

    .title6{
        font-size: 13px;
    }
    .TitleButton1 {
        font-size: 10px;
    }
    .descriptionButton {
        font-size: 10px;
        margin-top: 0px;
        line-height: 1.2;
    }
    
    .title7{
        font-size: 13px;
    }
    .TitleSpecific {
        font-size: 11px;
        /* margin-top: 19px; */
    }

    .descriptionSpecific {
        font-size: 9px;
        /* margin-top: 19px; */
    }

    .titleFooter {
        font-size: 10px;
    }

    .product_description{

        grid-template: 20px 28px 61px 15px 54px 22px 180px 25px 130px 22px 68px 102px 22px 65px 113px 32px 46px 46px 46px 46px 46px 46px / repeat(4,1fr);
        grid-template-areas: "title-a1 title-a1 title-a1 title-a1"
                             "title-a2 title-a2 title-a2 title-a2"
                             "title-a3 title-a3 title-a3 title-a3"
                             "title-a4 title-a4 title-a4 title-a4"
                             "Price-a1 Price-a1 Price-a1 Price-a1"
                             "title-a5 title-a5 title-a5 title-a5"
                             "description-a1 description-a1 description-a1 description-a1"
                             "title-a6 title-a6 title-a6 title-a6"
                             "button-a1 button-a1 button-a11 button-a11"
                             "title-a7 title-a7 title-a7 title-a7"
                             "button-a2 button-a2 button-a2 button-a2"
                             "button-a22 button-a22 button-a22 button-a22"
                             "title-a8 title-a8 title-a8 title-a8 "
                             "button-a3 button-a3 button-a3 button-a3"
                             "button-a33 button-a33 button-a33 button-a33"
                             "title-a9 title-a9 title-a9 title-a9"
                             "description-a2 description-a2 description-a2 description-a2"
                             "description-a3 description-a3 description-a3 description-a3"
                             "description-a4 description-a4 description-a4 description-a4"
                             "description-a5 description-a5 description-a5 description-a5"
                             "description-a6 description-a6 description-a6 description-a6"
                             "description-a7 description-a7 description-a7 description-a7";
        grid-gap: 0px 12px; 
    }

    .button1 {
        padding: 4px;
    }

    .Titlenumber{
        font-size: 10px;
    }

    .button2{
        padding: 6px;
        padding-left: 15px;
    }

    .button3{
        padding: 6px;
        padding-left: 15px;
    }

    .button4{
        padding: 6px;
        padding-left: 15px;
    }

    .button5{
        /* padding: 6px; */
        padding-left: 15px;
        padding-top: 12px;
    }

}

@media screen and (max-width: 480px){
    /* .product_container{
        display: block;
      }
    
      .containerImages{
        width: auto;
      }
    
      .producto_description{
        width: auto;

      }
      .containerImages{
        grid-template: 182px 56px 45px 50px / repeat(3,1fr);
        grid-template-areas:
            "Image1 Image1 Image1"
            "Image2 Image3 Image4"
            "Image5 Image6 Image7"
            "LabelImg5 LabelImg6 LabelImg7";
            grid-gap: 14px 9px;
        height: auto;
        position: relative;
        top: 0;
    } */

    .container{
        max-width: 370px;
    }
    .product_container{
        display: block;
      }
    
      .containerImages{
        width: auto;
      }
    
      .producto_description{
        width: auto;
        /* fonttamaño */
      }
      .containerImages{
        grid-template: 182px 42px  / repeat(3,1fr);
        grid-template-areas:
            "Image1 Image1 Image1"
            "Image2 Image3 Image4"
            "Image5 Image6 Image7"
            "LabelImg5 LabelImg6 LabelImg7";
            grid-gap: 14px 6px;
        height: auto;
        position: relative;
        top: 0;
    }

    .product_description{

        grid-template: 26px 88px 80px 25px 96px 73px 350px 35px 140px 150px 85px 116px 174px 42px 85px 133px 32px 90px 70px 70px 70px 70px 70px / repeat(4,1fr);
        grid-template-areas: "title-a1 title-a1 title-a1 title-a1"
                             "title-a2 title-a2 title-a2 title-a2"
                             "title-a3 title-a3 title-a3 title-a3"
                             "title-a4 title-a4 title-a4 title-a4"
                             "Price-a1 Price-a1 Price-a1 Price-a1"
                             "title-a5 title-a5 title-a5 title-a5"
                             "description-a1 description-a1 description-a1 description-a1"
                             "title-a6 title-a6 title-a6 title-a6"
                             "button-a1 button-a1 button-a1 button-a1"
                             "button-a11 button-a11 button-a11 button-a11"
                             "title-a7 title-a7 title-a7 title-a7"
                             "button-a2 button-a2 button-a2 button-a2"
                             "button-a22 button-a22 button-a22 button-a22"
                             "title-a8 title-a8 title-a8 title-a8 "
                             "button-a3 button-a3 button-a3 button-a3"
                             "button-a33 button-a33 button-a33 button-a33"
                             "title-a9 title-a9 title-a9 title-a9"
                             "description-a2 description-a2 description-a2 description-a2"
                             "description-a3 description-a3 description-a3 description-a3"
                             "description-a4 description-a4 description-a4 description-a4"
                             "description-a5 description-a5 description-a5 description-a5"
                             "description-a6 description-a6 description-a6 description-a6"
                             "description-a7 description-a7 description-a7 description-a7";
        grid-gap: 0px 12px; 
    }

    .Img2R{
        width: 35px;
    }

    .Img4R{
        width: 70px;
    }

    .title1 {
        font-size: 12.5px;
        margin-top: 4px;
    }

    .title2 {
        font-size: 33px;
        line-height: 1.3;
    }

    .title3 {
        font-size: 29px;
        /* white-space: nowrap; */

    }

    .title4{
        font-size: 14px;
    }

    .price1{
        font-size: 38px;
    }

    .link1{
        font-size: 21px;
    }

    .link2{
        font-size: 21px;
    }

    .link3{
        font-size: 21px;
        /* white-space: nowrap; */

    }

    .description1{
        font-size: 16px;
    }

    .Label {
        visibility: hidden;
    }

    .Img5 {
        visibility: hidden;
    }

    .Img6 {
        visibility: hidden;
    }

    .Img7 {
        visibility: hidden;
    }

    .title6{
        font-size: 19px;
    }

    .TitleButton1{
        font-size: 14px;
        margin: 10px 0;
    }

    .descriptionButton{
        font-size: 14px;
    }

    .button1{
        height: 70%;
    }

    .title7{
        font-size: 20.5px;
        /* white-space: nowrap; */
    }

    .Titlenumber{
        font-size: 14px;
    }

    .button3 {
        padding: 6px;
        padding-right: 26px;
    }

    .description-a2{
        display: block;
        padding-top: 14px;
    }

    .description-a3{
        display: block;
        padding-top: 14px;
    }

    .description-a4{
        display: block;
        padding-top: 14px;
    }

    .description-a5{
        display: block;
        padding-top: 14px;
    }

    .description-a6{
        display: block;
        padding-top: 14px;
    }

    .description-a7{
        display: block;
        padding-top: 14px;
    }




    .TitleSpecific{
        margin-bottom: 10px;
        margin: 0;
        font-size: 14px;
    }

    .descriptionSpecific{
        margin-top: 0;
        font-size: 14px;
    }

}

@media screen and (max-width: 320px){
    .container{
        max-width: 290px;
    }
    .product_container{
        display: block;
      }
    
      .containerImages{
        width: auto;
      }
    
      .producto_description{
        width: auto;
        /* fonttamaño */
      }
      .containerImages{
        grid-template: 182px 42px  / repeat(3,1fr);
        grid-template-areas:
            "Image1 Image1 Image1"
            "Image2 Image3 Image4"
            "Image5 Image6 Image7"
            "LabelImg5 LabelImg6 LabelImg7";
            grid-gap: 14px 6px;
        height: auto;
        position: relative;
        top: 0;
    }

    .product_description{

        grid-template: 26px 88px 80px 25px 96px 73px 350px 35px 140px 150px 85px 116px 174px 42px 85px 133px 32px 90px 70px 70px 70px 70px 70px / repeat(4,1fr);
        grid-template-areas: "title-a1 title-a1 title-a1 title-a1"
                             "title-a2 title-a2 title-a2 title-a2"
                             "title-a3 title-a3 title-a3 title-a3"
                             "title-a4 title-a4 title-a4 title-a4"
                             "Price-a1 Price-a1 Price-a1 Price-a1"
                             "title-a5 title-a5 title-a5 title-a5"
                             "description-a1 description-a1 description-a1 description-a1"
                             "title-a6 title-a6 title-a6 title-a6"
                             "button-a1 button-a1 button-a1 button-a1"
                             "button-a11 button-a11 button-a11 button-a11"
                             "title-a7 title-a7 title-a7 title-a7"
                             "button-a2 button-a2 button-a2 button-a2"
                             "button-a22 button-a22 button-a22 button-a22"
                             "title-a8 title-a8 title-a8 title-a8 "
                             "button-a3 button-a3 button-a3 button-a3"
                             "button-a33 button-a33 button-a33 button-a33"
                             "title-a9 title-a9 title-a9 title-a9"
                             "description-a2 description-a2 description-a2 description-a2"
                             "description-a3 description-a3 description-a3 description-a3"
                             "description-a4 description-a4 description-a4 description-a4"
                             "description-a5 description-a5 description-a5 description-a5"
                             "description-a6 description-a6 description-a6 description-a6"
                             "description-a7 description-a7 description-a7 description-a7";
        grid-gap: 0px 12px; 
    }

    .Img2R{
        width: 35px;
    }

    .Img4R{
        width: 70px;
    }

    .title1 {
        font-size: 12.5px;
        margin-top: 4px;
    }

    .title2 {
        font-size: 33px;
        line-height: 1.3;
    }

    .title3 {
        font-size: 29px;
        /* white-space: nowrap; */

    }

    .title4{
        font-size: 14px;
    }

    .price1{
        font-size: 38px;
    }

    .link1{
        font-size: 21px;
    }

    .link2{
        font-size: 21px;
    }

    .link3{
        font-size: 21px;
        /* white-space: nowrap; */

    }

    .description1{
        font-size: 16px;
    }

    .Label {
        visibility: hidden;
    }

    .Img5 {
        visibility: hidden;
    }

    .Img6 {
        visibility: hidden;
    }

    .Img7 {
        visibility: hidden;
    }

    .title6{
        font-size: 19px;
    }

    .TitleButton1{
        font-size: 14px;
        margin: 10px 0;
    }

    .descriptionButton{
        font-size: 14px;
    }

    .button1{
        height: 70%;
    }

    .title7{
        font-size: 20.5px;
        /* white-space: nowrap; */
    }

    .Titlenumber{
        font-size: 14px;
    }

    .button3 {
        padding: 6px;
        padding-right: 26px;
    }

    .description-a2{
        display: block;
        padding-top: 14px;
    }

    .description-a3{
        display: block;
        padding-top: 14px;
    }

    .description-a4{
        display: block;
        padding-top: 14px;
    }

    .description-a5{
        display: block;
        padding-top: 14px;
    }

    .description-a6{
        display: block;
        padding-top: 14px;
    }

    .description-a7{
        display: block;
        padding-top: 14px;
    }




    .TitleSpecific{
        margin-bottom: 10px;
        margin: 0;
        font-size: 14px;
    }

    .descriptionSpecific{
        margin-top: 0;
        font-size: 14px;
    }

}